<div class="container mx-auto" id="<%= dom_id message %>">
  <div class="relative mt-5 mb-5 sm:items-center mx-auto">
    <div class="rounded-md drop-shadow bg-white p-2">
      <div class="border-b-2 py-4 px-10 mb-4 ">
        <h2 class="font-medium title-font text-gray-900 mb-1 text-xl"><%= message.from %></h2>
        <div class="flex justify-between">
          <p class="leading-relaxed text-gray-500">to: <%= message.to %></p>
          <p class="leading-relaxed text-gray-500 object-right"><%= message.created_at %></p>
        </div>
        <% (message.attachments + message.content.embeds).each do |attachment| %>
          <%= link_to rails_blob_url(attachment.blob), download: true, class: "bg-gray-100 inline-flex py-1 px-1 rounded-lg items-center hover:bg-gray-200 border" do %>
            <span class="leading-none">
              <span class="title-font font-medium text-xs"><%= attachment.blob.filename %></span>
            </span>
          <% end %>
        <% end %>
      </div>

      <div class="px-10">
        <%= message.content %>
      </div>

      <% if message.attachments.any? || message.content.embeds.any? %>
        <div class="px-10 inline-flex gap-1 mt-4">
          <% (message.attachments + message.content.embeds).each do |attachment| %>
            <% blob = attachment.blob %>
            <div class="bg-white p-1 rounded-lg bg-gray-100 hover:bg-gray-200 border relative w-40 h-40">
            <%= link_to rails_blob_url(blob), download: true, class: 'text-center' do %>
              <% if blob.representable? %>
                <%= image_tag blob.representation(resize_to_limit: [ 100, 100 ]), class: 'mx-auto' %>
              <% else %>
                <p class="text-blue-600 text-center text-8xl mx-auto">
                  <%= fa_icon 'file' %>
                </p>
              <% end %>
              <div class="mt-2 absolute inset-x-0 bottom-0">
                <p class="whitespace-nowrap title-font font-medium text-xs"><%= blob.filename.to_s.truncate(20) %></p>
                <p class="whitespace-nowrap title-font text-xs"><%= number_to_human_size(blob.byte_size) %></p>
              </div>
            <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="text-end text-right">
        <div class="inline-block ml-2">
          <%= button_to 'Send Again', send_email_message_path(message), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </div>
        <div class="inline-block ml-2">
          <%= link_to 'Reply', new_message_path(reply_to_id: message.id), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium", target: '_top' %>
        </div>
      </div>
    </div>
  </div>
</div>
